[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-wtf = "*"
wtforms = "*"
werkzeug = "*"
flask-login = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
flask-migrate = "*"
flask-script = "*"
uwsgi = "*"
"psycopg2" = "*"
docxtpl = "*"
pypandoc = "*"

[requires]
python_version = "3.6"
