<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>电梯信息</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/report.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
{% block script %}
    <!-- Javascripts-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    {# 日期选择器插件bootstrap-datepicker #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker/bootstrap-datepicker.zh-CN.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% for key in elevator_data %}
                $('#{{ key }}').val("{{ elevator_data[key] }}");
            {% endfor %}
            <!--当为查看时-->
            {% if action == '0' %}
                <!--隐藏提交按钮-->
                $('#submit_button').attr('hidden', 'True');
                <!--设备只读属性-->
                $(':input').attr('disabled', 'True');
            {% endif %}

            // 日期选择器插件初始化
            $(".datepicker").datepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                autoclose: true,
            });
        });
    </script>
{% endblock %}
</html>