{% extends "index.html" %}
{% block title %}
    电梯管理
{% endblock %}
{% block page_nav %}
    <li>电梯</li>
    <li>电梯管理</li>
{% endblock %}
{#页面内容#}
{% block content %}
    <!--查询条件-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-1" for="maintenanceContractNumber">合同编号</label>
                            <div class="col-md-2">
                                <input id="maintenanceContractNumber" class="form-control" type="text" name="maintenanceContractNumber" placeholder="合同编号">
                            </div>
                            <label class="control-label col-md-1" for="ein">识别码</label>
                            <div class="col-md-2">
                                <input id="ein" class="form-control" type="text" name="ein" placeholder="识别码">
                            </div>
                            <label class="control-label col-md-1" for="registration_code">注册代码</label>
                            <div class="col-md-2">
                                <input id="registration_code" class="form-control" type="text" name="registration_code" placeholder="注册代码">
                            </div>
                            <label class="control-label col-md-1" for="ein">出厂编号</label>
                            <div class="col-md-2">
                                <input id="manufacturing_code" class="form-control" type="text" name="manufacturing_code" placeholder="出厂编号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1" for="use_unit">使用单位</label>
                            <div class="col-md-2">
                                <input id="use_unit" class="form-control" type="text" name="use_unit" placeholder="使用单位">
                            </div>
                            <label class="control-label col-md-1" for="manufacturing_unit">制造单位</label>
                            <div class="col-md-2">
                                <input id="manufacturing_unit" class="form-control" type="text" name="manufacturing_unit" placeholder="制造单位">
                            </div>
                            <label class="control-label col-md-1" for="construction_unit">施工单位</label>
                            <div class="col-md-2">
                                <input id="construction_unit" class="form-control" type="text" name="construction_unit" placeholder="施工单位">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-4" >
                                    <button class="btn btn-primary icon-btn" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>查询</button>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <button class="btn btn-primary icon-btn" type="button"><i class="fa fa-fw fa-lg fa-refresh"></i>重置</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--查询结果显示表格-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>选择</th>
                            <th>ID</th>
                            <th>识别码</th>
                            <th>设备名称</th>
                            <th>制造单位</th>
                            <th>制造日期</th>
                            <th>型号</th>
                            <th>使用编号</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for id, elevator in elevators %}
                                <tr>
                                    <td><label for="check" class="sr-only">check</label><input type="checkbox" id="check"></td>
                                    <td>{{ id+1 }}</td>
                                    <td>{{ elevator.idCode }}</td>
                                    <td>{{ elevator.deviceName }}</td>
                                    <td>{{ elevator.manufactureCompany }}</td>
                                    <td>{{ elevator.manufactureDate }}</td>
                                    <td>{{ elevator.model }}</td>
                                    <td>{{ elevator.numberOfUse }}</td>
                                    <td>{{ elevator.contactPerson }}</td>
                                    <td>{{ elevator.contactNumber }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- Javascripts-->
{% block script %}
	{{ super() }}
    {#    表格加载用js，以下4个js必须同时使用    #}
    {#    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>    已经在base.html文件中加载，无需再次加载#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $('#sampleTable').DataTable();
    </script>
{% endblock %}