{% extends "index.html" %}
{% block title %}
    电梯管理
{% endblock %}
{% block page_nav %}
    <li>电梯</li>
    <li>电梯管理</li>
{% endblock %}
{#页面内容#}
{% block content %}
    <!--查询条件-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal" method="POST"
                          action="{{ url_for('view.elevator_manage') }}" id="form_query" name="form_query">
                        <div class="form-group">
                            <label class="control-label col-md-1" for="maintenanceContractNumber">合同编号</label>
                            <div class="col-md-2">
                                <input id="maintenanceContractNumber" class="form-control" type="text" name="maintenanceContractNumber" placeholder="合同编号">
                            </div>
                            <label class="control-label col-md-1" for="idCode">识别码</label>
                            <div class="col-md-2">
                                <input id="idCode" class="form-control" type="text" name="idCode" placeholder="识别码">
                            </div>
                            <label class="control-label col-md-1" for="regCode">注册代码</label>
                            <div class="col-md-2">
                                <input id="regCode" class="form-control" type="text" name="regCode" placeholder="注册代码">
                            </div>
                            <label class="control-label col-md-1" for="factoryNumber">出厂编号</label>
                            <div class="col-md-2">
                                <input id="factoryNumber" class="form-control" type="text" name="factoryNumber" placeholder="出厂编号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1" for="userEntityName">使用单位</label>
                            <div class="col-md-2">
                                <input id="userEntityName" class="form-control" type="text" name="userEntityName" placeholder="使用单位">
                            </div>
                            <label class="control-label col-md-1" for="manufactureCompany">制造单位</label>
                            <div class="col-md-2">
                                <input id="manufactureCompany" class="form-control" type="text" name="manufactureCompany" placeholder="制造单位">
                            </div>
                            <label class="control-label col-md-1" for="deviceName">设备名称</label>
                            <div class="col-md-2">
                                <input id="deviceName" class="form-control" type="text" name="deviceName" placeholder="设备名称">
                            </div>
                            <label class="control-label col-md-1" for="model">设备型号</label>
                            <div class="col-md-2">
                                <input id="model" class="form-control" type="text" name="model" placeholder="设备型号">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-4" >
                                    <button class="btn btn-primary icon-btn" type="button" id="bt_query">
                                        <i class="fa fa-fw fa-lg fa-check-circle"></i>查询
                                    </button>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <button class="btn btn-primary icon-btn" type="button"><i class="fa fa-fw fa-lg fa-refresh"></i>重置</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--查询结果显示表格-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>合同号</th>
                            <th>识别码</th>
                            <th>设备名称</th>
                            <th>使用单位</th>
                            <th>制造单位</th>
                            <th>制造日期</th>
                            <th>型号</th>
                            <th>使用编号</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for id, elevator in elevators %}
                                <tr>
                                    <td>{{ id+1 }}</td>
                                    <td>{{ elevator.maintenanceContractNumber }}</td>
                                    <td>{{ elevator.idCode }}</td>
                                    <td>{{ elevator.deviceName }}</td>
                                    <td>{{ elevator.userEntityName }}</td>
                                    <td>{{ elevator.manufactureCompany }}</td>
                                    <td>{{ elevator.manufactureDate }}</td>
                                    <td>{{ elevator.model }}</td>
                                    <td>{{ elevator.numberOfUse }}</td>
                                    <td>{{ elevator.contactPerson }}</td>
                                    <td>{{ elevator.contactNumber }}</td>
                                    <td>
                                        <a href="{{ url_for('view.ele_info_show', ele_info=elevator.idCode, action=0) }}" target="_self">查看</a>
                                        &nbsp&nbsp&nbsp&nbsp
                                        <a href="{{ url_for('view.ele_info_show', ele_info=elevator.idCode, action=1) }}" target="_self">更新</a>
                                        &nbsp&nbsp&nbsp&nbsp
                                        <a href="" data-toggle="modal" data-target="#myModal{{ id+1 }}">删除</a>
                                        <!-- 弹出页面 -->
                                        <div class="modal fade" id="myModal{{ id+1 }}" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-sm" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header alert alert-danger">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">提示</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <h5>确认删除识别码为{{ elevator.idCode }}的电梯数据？</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="col-md-3 col-md-offset-2">
                                                            <a class="btn btn-danger" href="{{ url_for('view.ele_del', ele_info=elevator.idCode) }}">确定</a>
                                                        </div>
                                                        <div class="col-md-2 col-md-offset-2">
                                                            <a class="btn btn-default" data-dismiss="modal">取消</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
<!-- Javascripts-->
{% block script %}
	{{ super() }}
    {#    表格加载用js，以下4个js必须同时使用    #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sampleTable').DataTable();
        });
        $("#bt_query").click(function () {
            if (($('#maintenanceContractNumber').val() == "") && ($('#idCode').val() == "") && ($('#regCode').val() == "") &&
            ($('#factoryNumber').val() == "") && ($('#userEntityName').val() == "") && ($('#manufactureCompany').val() == "") &&
                ($('#deviceName').val() == "") && ($('#model').val() == "")){
                ShowFailure('请输入查询条件');
            }
            else {
                $('#form_query').submit();
            }
        });
    </script>
{% endblock %}