{% extends "index.html" %}
{% block title %}
    电梯设备信息
{% endblock %}
{% block page_nav %}
	<li>电梯</li>
    <li>添加电梯</li>
{% endblock %}
{#页面内容#}
{% block content %}
    <!--数据录入-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">
                    <div style="margin-bottom: 30px; border-bottom: #2b333e; border-bottom-style: solid; padding-bottom: 15px">
                        <h3>电梯设备信息录入</h3>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="post" action="{{ url_for('view.elevator_machine_data_input') }}">
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="edsd">额定速度</label>
                            <div class="col-md-2">
                                <input id="edsd" class="form-control" type="text" name="edsd" placeholder="额定速度(m/s)" required>
                            </div>
                            <label class="control-label col-md-2" for="edzzl">额定载重量</label>
                            <div class="col-md-2">
                                <input id="edzzl" class="form-control" type="text" name="edzzl" placeholder="额定载重量(kg)" required>
                            </div>
                            <label class="control-label col-md-1" for="czm_c">层站门</label>
                            <div class="col-md-1">
                                <input id="czm_c" class="form-control" type="text" name="czm_c" placeholder="层" required>
                            </div>
                            <label class="sr-only" for="czm_c">站</label>
                            <div class="col-md-1">
                                <input id="czm_z" class="form-control" type="text" name="czm_z" placeholder="站" required>
                            </div>
                            <label class="sr-only" for="czm_c">门</label>
                            <div class="col-md-1">
                                <input id="czm_m" class="form-control" type="text" name="czm_m" placeholder="门" required>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="kzfs">控制方式</label>
                            <div class="col-md-2">
                                <select id="kzfs" name="kzfs" class="form-control">
                                    <option value="xh">信号</option>
                                    <option value="jx" selected="selected">集选</option>
                                    <option value="qk">群控</option>
                                    <option value="an">按钮</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="jxzx">轿厢装修</label>
                            <div class="col-md-2">
                                <select id="jxzx" name="jxzx" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="ic_card">IC卡</label>
                            <div class="col-md-2">
                                <select id="ic_card" name="ic_card" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="zdjy">自动救援</label>
                            <div class="col-md-2">
                                <select id="zdjy" name="zdjy" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="nlfk">能量反馈</label>
                            <div class="col-md-2">
                                <select id="nlfk" name="nlfk" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="wlw">物联网</label>
                            <div class="col-md-2">
                                <select id="wlw" name="wlw" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                        </div>
                        <!--分隔符-->
                        <div class="card-diver">
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="zjxs">主机型式</label>
                            <div class="col-md-2">
                                <select id="zjxs" name="zjxs" class="form-control">
                                    <option value="tbzj" selected="selected">同步主机</option>
                                    <option value="ybzj">异步主机</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="zjxh">主机型号</label>
                            <div class="col-md-2">
                                <input id="zjxh" class="form-control" type="text" name="zjxh" placeholder="主机型号" required>
                            </div>
                            <label class="control-label col-md-2" for="zjbh">主机编号</label>
                            <div class="col-md-2">
                                <input id="zjbh" class="form-control" type="text" name="zjbh" placeholder="主机编号" required>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="sdjjcz">手动紧急操作装置</label>
                            <div class="col-md-2">
                                <select id="sdjjcz" name="sdjjcz" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="sxcs">上行超速保护装置</label>
                            <div class="col-md-2">
                                <select id="sxcs" name="sxcs" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="ucmp">意外移动保护装置</label>
                            <div class="col-md-2">
                                <select id="ucmp" name="ucmp" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                        </div>
                        <!--分隔符-->
                        <div class="card-diver">
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="tsfs">调速方式</label>
                            <div class="col-md-2">
                                <select id="tsfs" name="tsfs" class="form-control">
                                    <option value="bp" selected="selected">变频</option>
                                    <option value="ss">双速</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="kzgxh">控制柜型号</label>
                            <div class="col-md-2">
                                <input id="kzgxh" class="form-control" type="text" name="kzgxh" placeholder="主机型号" required>
                            </div>
                            <label class="control-label col-md-2" for="kzgbh">控制柜编号</label>
                            <div class="col-md-2">
                                <input id="kzgbh" class="form-control" type="text" name="kzgbh" placeholder="主机编号" required>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="jjddyx">紧急电动运行</label>
                            <div class="col-md-2">
                                <select id="jjddyx" name="jjddyx" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="plzz">旁路装置</label>
                            <div class="col-md-2">
                                <select id="plzz" name="plzz" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="mhljc">门回路检测</label>
                            <div class="col-md-2">
                                <select id="mhljc" name="mhljc" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="dcx">断错相保护</label>
                            <div class="col-md-2">
                                <select id="dcx" name="dcx" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="zdqgzbh">制动器故障保护</label>
                            <div class="col-md-2">
                                <select id="zdqgzbh" name="zdqgzbh" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="xsq_ccrq">限速器出厂日期</label>
                            <div class="col-md-2">
                                <input id="xsq_ccrq" class="form-control datepicker" type="text" name="xsq_ccrq" placeholder="限速器出厂日期" required>
                            </div>
                            <label class="control-label col-md-2" for="xsq_jyrq">限速器校验</label>
                            <div class="col-md-2">
                                <input id="xsq_jyrq" class="form-control datepicker" type="text" name="xsq_jyrq" placeholder="校验日期" required>
                            </div>
                            <label class="sr-only" for="xsq_dzsd">校验速度</label>
                            <div class="col-md-2">
                                <input id="xsq_dzsd" class="form-control" type="text" name="xsq_dzsd" placeholder="校验速度(m/s)" required>
                            </div>
                        </div>
                        <!--分隔符-->
                        <div class="card-diver">
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="bcl">补偿链</label>
                            <div class="col-md-2">
                                <select id="bcl" name="bcl" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="bcl_dq">补偿链电气装置</label>
                            <div class="col-md-2">
                                <select id="bcl_dq" name="bcl_dq" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="bcl_ft">补偿链防跳装置</label>
                            <div class="col-md-2">
                                <select id="bcl_ft" name="bcl_ft" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="xgzzlx">悬挂装置类型</label>
                            <div class="col-md-2">
                                <select id="xgzzlx" name="xgzzlx" class="form-control">
                                    <option value="gss" selected="selected">钢丝绳</option>
                                    <option value="gd">钢带</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="gss_zj">钢丝绳(带)直径</label>
                            <div class="col-md-2">
                                <input id="gss_zj" class="form-control" type="text" name="gss_zj" placeholder="钢丝绳（带）直径" required>
                            </div>
                            <label class="control-label col-md-2" for="gss_sl">钢丝绳(带)数量</label>
                            <div class="col-md-2">
                                <input id="gss_sl" class="form-control" type="text" name="gss_sl" placeholder="钢丝绳（带）数量" required>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="jdaqm">井道安全门</label>
                            <div class="col-md-2">
                                <select id="jdaqm" name="jdaqm" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="jdjxm">井道检修门</label>
                            <div class="col-md-2">
                                <select id="jdjxm" name="jdjxm" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="aqc">安全窗</label>
                            <div class="col-md-2">
                                <select id="aqc" name="aqc" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="jxcmj">轿厢超面积</label>
                            <div class="col-md-2">
                                <select id="jxcmj" name="jxcmj" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="czbh">超载保护装置</label>
                            <div class="col-md-2">
                                <select id="czbh" name="czbh" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="dzaqq">对重安全钳</label>
                            <div class="col-md-2">
                                <select id="dzaqq" name="dzaqq" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="jmms">轿门门锁</label>
                            <div class="col-md-2">
                                <select id="jmms" name="jmms" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="fbm">轿门开门限制</label>
                            <div class="col-md-2">
                                <select id="fbm" name="fbm" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="blm">玻璃门</label>
                            <div class="col-md-2">
                                <select id="blm" name="blm" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="zdgm">自动关门装置</label>
                            <div class="col-md-2">
                                <select id="zdgm" name="zdgm" class="form-control">
                                    <option value="you" selected="selected">有</option>
                                    <option value="wu">无</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="hcqxs">缓冲器型式</label>
                            <div class="col-md-2">
                                <select id="hcqxs" name="hcqxs" class="form-control">
                                    <option value="yy" selected="selected">液压</option>
                                    <option value="th">弹簧</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2" for="hcj">对重缓冲距</label>
                            <div class="col-md-2">
                                <input id="hcj" class="form-control" type="text" name="hcj" placeholder="对重缓冲距(mm)" required>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-4" >
                                    <button class="btn btn-primary icon-btn" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>提交</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary icon-btn" type="reset"><i class="fa fa-fw fa-lg fa-refresh"></i>重置</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
{% endblock %}