{% extends "index.html" %}
{% block title %}
    添加电梯
{% endblock %}
{% block page_nav %}
	<li>电梯</li>
    <li>添加电梯</li>
{% endblock %}
{#页面内容#}
{% block content %}
    <!--数据录入-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">
                    <div style="margin-bottom: 30px; border-bottom: #2b333e; border-bottom-style: solid; padding-bottom: 15px">
                        <h3>电梯基础信息录入</h3>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="sydw">使用单位</label>
                            <div class="col-md-3">
                                <input id="sydw" class="form-control" type="text" name="sydw" placeholder="使用单位">
                            </div>
                            <label class="control-label col-md-2" for="sydwdm">使用单位代码</label>
                            <div class="col-md-2">
                                <input id="sydwdm" class="form-control" type="text" name="sydwdm" placeholder="使用单位代码">
                            </div>
                            <label class="control-label col-md-1" for="sbm">识别码</label>
                            <div class="col-md-2">
                                <input id="sbm" class="form-control" type="text" name="sbm" placeholder="识别码">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="sydd">使用地点</label>
                            <div class="col-md-3">
                                <input id="sydd" class="form-control" type="text" name="sydd" placeholder="使用地点">
                            </div>
                            <label class="control-label col-md-2" for="sybh">使用编号</label>
                            <div class="col-md-2">
                                <input id="sybh" class="form-control" type="text" name="sybh" placeholder="使用编号">
                            </div>
                            <label class="control-label col-md-1" for="sbmc">设备名称</label>
                            <div class="col-md-2">
                                <select id="sbmc" name="sbmc" class="form-control">
                                    <option value="ele_room">曳引驱动乘客电梯</option>
                                    <option value="ele_no_room">曳引驱动乘客电梯(无机房)</option>
                                    <option value="escalator">自动扶梯</option>
                                    <option value="passenger_conveyor">自动人行道</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="xh">型号</label>
                            <div class="col-md-3">
                                <input id="xh" class="form-control" type="text" name="xh" placeholder="型号">
                            </div>
                            <label class="control-label col-md-2" for="ccbh">出厂编号</label>
                            <div class="col-md-2">
                                <input id="ccbh" class="form-control" type="text" name="ccbh" placeholder="出厂编号">
                            </div>
                            <label class="control-label col-md-1" for="zcdm">注册代码</label>
                            <div class="col-md-2">
                                <input id="zcdm" class="form-control" type="text" name="zcdm" placeholder="注册代码">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="zzdw">制造单位</label>
                            <div class="col-md-7">
                                <input id="zzdw" class="form-control" type="text" name="zzdw" placeholder="制造单位">
                            </div>
                            <label class="control-label col-md-1" for="zzrq">制造日期</label>
                            <div class="col-md-2">
                                <input class="form-control" id="zzrq" type="text" name="zzrq" placeholder="制造日期">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="azdw">安装单位</label>
                            <div class="col-md-7">
                                <input id="azdw" class="form-control" type="text" name="azdw" placeholder="安装单位">
                            </div>
                            <label class="control-label col-md-1" for="azrq">安装日期</label>
                            <div class="col-md-2">
                                <input class="form-control" id="azrq" type="text" name="azrq" placeholder="安装日期">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="gzdw">改造单位</label>
                            <div class="col-md-7">
                                <input id="gzdw" class="form-control" type="text" name="gzdw" placeholder="改造单位">
                            </div>
                            <label class="control-label col-md-1" for="gzrq">改造日期</label>
                            <div class="col-md-2">
                                <input class="form-control" id="gzrq" type="text" name="gzrq" placeholder="改造日期">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="zdxldw">重大修理单位</label>
                            <div class="col-md-7">
                                <input id="zdxldw" class="form-control" type="text" name="zdxldw" placeholder="重大修理单位">
                            </div>
                            <label class="control-label col-md-1" for="zdxlrq">重大修理日期</label>
                            <div class="col-md-2">
                                <input class="form-control" id="zdxlrq" type="text" name="zdxlrq" placeholder="重大修理日期">
                            </div>
                        </div>
                        <!--分隔符-->
                        <div class="card-diver">
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="lxr">联系人</label>
                            <div class="col-md-3">
                                <input id="lxr" class="form-control" type="text" name="lxr" placeholder="联系人">
                            </div>
                            <label class="control-label col-md-2" for="lxhm">联系号码</label>
                            <div class="col-md-2">
                                <input id="lxhm" class="form-control" type="text" name="lxhm" placeholder="联系号码">
                            </div>
                            <label class="control-label col-md-1" for="dtsj">电梯司机</label>
                            <div class="col-md-2">
                                <input id="dtsj" class="form-control" type="text" name="dtsj" placeholder="电梯司机">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="aqglry">安全管理人员</label>
                            <div class="col-md-3">
                                <input id="aqglry" class="form-control" type="text" name="aqglry" placeholder="安全管理人员">
                            </div>
                            <label class="control-label col-md-2" for="aqglryzh">安全管理人员证号</label>
                            <div class="col-md-2">
                                <input id="aqglryzh" class="form-control" type="text" name="aqglryzh" placeholder="安全管理人员证号">
                            </div>
                            <label class="control-label col-md-1" for="dtsjzh">电梯司机证号</label>
                            <div class="col-md-2">
                                <input id="dtsjzh" class="form-control" type="text" name="dtsjzh" placeholder="电梯司机证号">
                            </div>
                        </div>
                        <!--分隔符-->
                        <div class="card-diver">
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="wbhtbh">维保合同编号</label>
                            <div class="col-md-3">
                                <input id="wbhtbh" class="form-control" type="text" name="wbhtbh" placeholder="维保合同编号">
                            </div>
                            <label class="control-label col-md-2" for="wbdj">维保等级</label>
                            <div class="col-md-2">
                                <input id="wbdj" class="form-control" type="text" name="wbdj" placeholder="维保等级">
                            </div>
                            <label class="control-label col-md-1" for="wbry_a">维保人员A</label>
                            <div class="col-md-2">
                                <input id="wbry_a" class="form-control" type="text" name="wbry_a" placeholder="维保人员A">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="wbksrq">维保开始日期</label>
                            <div class="col-md-3">
                                <input id="wbksrq" class="form-control" type="text" name="wbksrq" placeholder="维保开始日期">
                            </div>
                            <label class="control-label col-md-2" for="wbjsrq">维保结束日期</label>
                            <div class="col-md-2">
                                <input id="wbjsrq" class="form-control" type="text" name="wbjsrq" placeholder="维保结束日期">
                            </div>
                            <label class="control-label col-md-1" for="wbry_b">维保人员B</label>
                            <div class="col-md-2">
                                <input id="wbry_b" class="form-control" type="text" name="wbry_b" placeholder="维保人员B">
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 15px">
                            <label class="control-label col-md-1" for="wbbz">维保备注</label>
                            <div class="col-md-10">
                                <textarea class="form-control" id="wbbz" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-4" >
                            <button class="btn btn-primary icon-btn" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>提交</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary icon-btn" type="button"><i class="fa fa-fw fa-lg fa-refresh"></i>重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/datepick.js') }}"></script>
{% endblock %}