{% extends "base.html" %}
{% block title %}
    首页
{% endblock %}
{% block page_nav %}
	<li>首页</li>
{% endblock %}
{# 显示登录用户#}
{% block current_username %}
    {% if current_user.is_authenticated %}
        {{ current_user.email }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">电梯</h3>
                </div>
                <div class="panel-body">
                    <p>电梯数量：{{ ele_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">人员</h3>
                </div>
                <div class="panel-body">
                    <p>人员数量：{{ employee_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">报告</h3>
                </div>
                <div class="panel-body">
                    <p>报告数量：{{ report_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">定期检验</h3>
                </div>
                <div class="panel-body">
                    <p>定期检验到期数据：0</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="panel-title">到期合同</h3>
                </div>
                <div class="panel-body">
                    <p>合同号：0</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
