{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block Title %}
    主页
{% endblock %}
{% block linkcss %}
    {{ super() }}
{% endblock %}
{% block nav %}
    <li class="text-center"><a href="#">注册</a></li>
{% endblock %}
{% block content %}
    {{ super() }}
    <h1 class="page-header">各模块内容</h1>
{% endblock %}
{#<!-- 显示登录用户
{% if current_user.is_authenticated() %}
    Hi {{ current_user.name }}!
{% endif %}
-->#}
{% block script %}
    {{ super() }}
{% endblock %}
