{% extends "base.html" %}
{% block title %}
    首页
{% endblock %}
{% block page_nav %}
	<li>首页</li>
{% endblock %}
{# 显示登录用户#}
{% block current_username %}
    {% if current_user.is_authenticated %}
        {{ current_user.company }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h2>电梯</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h2>人员</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h2>报告</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h2>定期检验</h2>
            </div>
        </div>
    </div>
{% endblock %}
