<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电梯维保管理系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
</head>
<body>
    <div class="login-body">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 card">
                <div class="card-title">
                    <h3>电梯维保管理系统</h3>
                </div>
                <form class="form-signin" method="POST" action="{{ url_for('view.login') }}">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control text-center" placeholder="Email address" required autofocus
                           name="email">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control text-center" placeholder="Password" required
                           name="password">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me" name="remember_me"> 记住我
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                    {% if messages %}
                        <div class="alert alert-warning">
                            {% for message in messages %}
                                {% for key in messages[message] %}
                                    <p><strong class="text-center">{{ key }}</strong></p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
                <div class="card-footer">
                    <div class="text-center">版权所有： sky    请联系：shikeyi627@163.com</div>
                </div>
            </div>
        </div> <!-- /container -->
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>